# Application sharding
TOTAL_SHARDS=3

# Discord API
DISCORD_API_TOKEN=
DISCORD_MAIN_GUILD_ID=

# MySQL configuration -- The used database for this application
DATABASE_SCHEMA=public
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_DATABASE=therealmultiverse
DATABASE_ROOT_PASSWORD=
# Used for Prisma -- The default ORM for this application
DATABASE_URL="mysql://<USERNAME>:<PASSWORD>@mysql:3306/therealmultiverse?schema=public"

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS=
